@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.top{
    width: 100%;
    height: 60px;
    background-color: black;
}
html, body {
    background-color: #f1f3f5;
}

.banner{
    width: 80%;
    height: 350px;
    background-color: black;
}
*{
    margin: 0;
    padding: 0;

}
.last{
    position:relative;
    width: 100%;
    height: 200px;
    clear: both;
}
.header{
    width: 100%;
    height: 40%;
    text-align: center;
    top: 20%;
    font-size: 39px;
    position: relative;
}
.search{
    margin-top: 7%;
    position: relative;
    clear: both;
    width: 100%;
    height: 20%;
    text-align: center;
    float: center;
}
.category{
    width: initial;
    top: 70%;
    left: 20%;
    position: relative;
    position: relative;
    clear: both;
    width: 100%;
    height: 40%;
    text-align: center;
}

.container {
    clear: both;
    display: flex;
    text-align: center;
    flex-direction: row;
    position: relative;
}
  
.box1 {
    position: relative;
    display: inline-box;
    display: inline-block;
    width: 18vw;
    height: 35vh;
    right: -15%;
    text-align: center;
}
.box2 {
    right: -15%;
    display: inline-box;
    position: relative;
    display: inline-block;
    width: 18vw;
    height: 35vh; 
    text-align: center;
}
.box3 {
    right: -15%;
    display: inline-box;
    position: relative;
    display: inline-block;
    width: 18vw;
    height: 35vh;
    text-align: center;
}


.search{
  width: 60%;
  height:50px;
  padding: 5px;
  position: relative;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  border: 2px solid black;
  border-radius: 30px;
}
.search-btn{
  text-decoration: none;
  float: right;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
}
.search-txt{
  top: 7%;
  font-weight: 600;
  border: 0px solid black;
  display: block;
  padding: 0;
  height: 80%;
  left: 3%;
  width: 90%;
  border:none;
  background: none;
  float: left;
  font-size: 1rem;
  line-height: 30px;
  position: relative;
  color: #475059;
}

.box-img{
  top: 10%;
  position: relative;
  width: 80%;
  height: 80%;
}
.box-txt{
    top: 10%;
    left: 10%;
    float: center;
    position: relative;
    width: 80%;
    padding: 0;
    height: 30%;
}
.main-logo{
    margin-top: 3%;
    position: relative;
    width: 150px;
    height: 150px;
}
.main_banner{
    margin-top: 10%;
    position: relative;
    width: 100%;
}
