<!DOCTYPE html>
<html>
<head>
  <title>검색 결과</title>
  <link rel="stylesheet" href="/search.css">
</head>
<body class="search">
    <div class="top">
        <div class="logo-search">
          <img class="category-logo" src="/images/logo.png">
        </div>     
      </div><br>
      <a href="/"><img class="home-btn" src="/images/home-logo.png"></a>
      <div class="table">
  <div class="two">
    <div class="respond">
        <div class="result"><br><b>&nbsp;&nbsp;검색 결과</b>:
        <p>&nbsp;&nbsp;<%= answer %></p>
    </div>
    </div>
  </div>
</body>
</html>



