<!DOCTYPE html>
<html>
<head>
  <title>일자리 페이지</title>
  <link rel="stylesheet" href="/jobs.css">
</head>
<body>
  <div class="header">
    <div class="logo-search">
      <img class="category-logo" src="/images/logo2.png">
    </div>
    <div class="logo-title">
      부산시에서 현재 <b>신청 가능한 <br>구인공고</b>입니다 !
    </div>
  </div>
  <div class="table">
    <table id="rwd-table">
      <thead>
        <tr>
          <th class="pin">제목</th>
          <th>주소</th>
          <th>링크</th>
        </tr>
      </thead>
      <% data.forEach(function(job) { %>
      <tr>
      <td><%= job.title %></t>
      <td><%= job.address %></td>
      <td><%= job.urlString %></td>
      <tr>
      <% }) %>
</body>
</html>

