<!DOCTYPE html>
<html>
<head>
  <title>문화 페이지</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>문화 페이지</h1>
  <ul>
    <% data.forEach(function(event) { %>
      <li><%= event.name %></li>
      <li><%= event.address %></li>
      <li><%= event.urlString%></li>
    <% }) %>
  </ul>
</body>
</html>