<!DOCTYPE html>
<html>
<head>
  <title>일자리 페이지</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>일자리 페이지</h1>
  <ul>
    <% data.forEach(function(job) { %>
      <li><%= job.title %></li>
      <li><%= job.address %></li>
      <li><%= job.urlString %></li>
    <% }) %>
  </ul>
</body>
</html>